extends layout

block content
  header#body1.p-3.mb-4
    h2.text-center F1 News Feed
      |         
      br.clearfix
      |         
      p#para_1.float-right
        | powered by 
        a(href='gnews.io') GNews.io


  .container-fluid.px-4
      #article_result.row

